fastapi
uvicorn[standard]
python-multipart
pydantic
python-dotenv
requests

# OCR
easyocr==1.7.1
torch==2.0.1+cpu
torchvision==0.15.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu

# PDF / Image
pdf2image
Pillow
opencv-python-headless

# NLP
transformers
sentence-transformers
tokenizers

# Cloud / Storage
boto3

# Database
motor
pymongo

# Documents
python-docx
python-pptx
PyPDF2

# Utils
python-dateutil
tqdm
