# Web / API
fastapi
uvicorn[standard]
python-multipart
pydantic
python-dotenv
requests

# OCR
easyocr==1.7.1

# PyTorch CPU
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.3.0+cpu
torchvision==0.18.0+cpu

# PDF / Image
pdf2image
Pillow
opencv-python-headless

# NLP / Transformers
transformers
tokenizers

# Cloud / Storage
boto3

# Database
motor
pymongo

# Documents
python-docx
python-pptx
PyPDF2

# Utils
numpy<2
python-dateutil
tqdm
